Repository kubernetes-sigs/aws-efs-csi-driver, pull requests merged in 2020-11, with the labels that each got.

#273 Add flag for label selectors for EFS driver in e2e test
  test/e2e/e2e.go
  test/e2e/e2e_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#253 add hostAliases to the helm chart to handle cross VPC mountpoint
  helm/templates/daemonset.yaml
  helm/values.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#278 Support for custom SG / subnet IDs for provisioned EFS file system in E2E tests
  test/e2e/cloud.go
  test/e2e/e2e.go
  test/e2e/e2e_test.go
  test/e2e/parse.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L
