Repository kubernetes-sigs/aws-efs-csi-driver, pull requests merged in 2025-10, with the labels that each got.

#1706 Add maxInflightMountCalls and volumeAttachLimit args
  charts/aws-efs-csi-driver/templates/node-daemonset.yaml
  cmd/main.go
  deploy/kubernetes/base/node-daemonset.yaml
  docs/README.md
  pkg/driver/driver.go
  pkg/driver/inflight_mount_tracker.go
  pkg/driver/inflight_mount_tracker_test.go
  pkg/driver/node.go
  pkg/driver/node_test.go
  pkg/driver/sanity_test.go
Labels: ok-to-test, approved, lgtm, size/XL, cncf-cla: yes

#1709 Update Dependencies
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Labels: ok-to-test, size/M, lgtm, cncf-cla: yes

#1714 Pre-release PR 2.1.13 release
  CHANGELOG-2.x.md
  Makefile
  docs/README.md
Labels: ok-to-test, size/S, cncf-cla: yes
